{% extends 'base.html' %}

{% block title %} About Stance Data {% endblock title %}
{% block link_about %} class="main-nav-current" {% endblock link_about %}
{% block main_picture %} style="background-image: url('{{ STATIC_URL }}/img/about.jpg')"  {% endblock main_picture %}
{% block main_text %}Passionated people, solving <span style="font-size: 70px;" >Big</span> real problems {% endblock main_text %}

{% block content %}


<h2 class="h-beta text-size-3">About</h2>

<p>Stance Data mission is to make our clients work simpler, delightful and human.</p>

<p>Stance Data provides enterprise data services while reducing cost, increasing performance and adding value to  your business through our unique approach. We  are located in the beautiful Island of Dominican Republic, just a few hours from the US. This means we are going to be there when you need us, in the same time zone.</p>

<p>Our focus is an excellent customer service and a commitment to an incredible experience.</p>

<p>Our clients can rest upon the knowing (be confident) that their operations is handled by one of our  reliable operators, this assured by incredible effective methodology.</p>


<div class="about-section text-size-6 about-values">
  <h2 class="h-beta text-size-3">Values</h2>
  <div class="content-grid">
    <div class="content-grid-item">
     <span class="content-grid-number text-size-7">01</span>
     <h3 class="text-size-5 content-grid-headline">High Expectations</h3>
    <p>We give more than is required from us. Always.</p>
  </div>
  <div class="content-grid-item">
    <span class="content-grid-number text-size-7">02</span>
    <h3 class="text-size-5 content-grid-headline">Openness</h3>
    <p>We expect and welcome constant feedback. We build relationships based on trust.</p>
  </div>
  <div class="content-grid-item">
    <span class="content-grid-number text-size-7">03</span>
    <h3 class="text-size-5 content-grid-headline">Integrity</h3>
    <p>We keep what we promise.</p>
  </div>
  <div class="content-grid-item">
    <span class="content-grid-number text-size-7">04</span>
    <h3 class="text-size-5 content-grid-headline">Team Work</h3>
    <p>We work to make our clients work less. That's only possible because were part of their team.</p>
  </div>
  <div class="content-grid-item">
    <span class="content-grid-number text-size-7">05</span>
    <h3 class="text-size-5 content-grid-headline">Merit Based Culture</h3>
    <p>We hire the best people, exactly those people that can make an impact on our clients work for the better.</p>
    </div>
  <div class="content-grid-item">
    <span class="content-grid-number text-size-7">06</span>
    <h3 class="text-size-5 content-grid-headline">Learning for Life</h3>
    <p>We continually improve and learn whatever is needed to satisfy our clients.</p>
  </div>
 </div>

</div>

{% endblock content %}
