{% extends "base.html" %}
{% block title %} community {% endblock title %}
{% block link_community %} class="main-nav-current" {% endblock link_community %}
{% block main_picture %} style="background-image: url('{{ STATIC_URL }}/img/com_content1.jpg')"  {% endblock main_picture %}
{% block main_text %} We give back {% endblock main_text %}

{% block content %}

<h1 class="h-beta text-size-2">Community Service</h1>

<p> Here in Stance Data we believe we have to give back what we have received, that's why we cooperate in different ways with our community.</p>
<p>We’re focused on Technology, Education and creating access to Opportunities with a focus to young people.</p>

<p>Everyone has the right to a good education but millions of them fail to receive it. Education is not only needed to find a good job. A person who is educated is more likely to be fully aware of their rights and are better able to ensure that they are respected.</p> 
<p>Education gives people choices, plus the confidence to take advantage of new technologies and by using productively new technologies they create new opportunities</p>

<p>That's the reason why Stance Data and its employees participate, fund and support the following grassroots efforts and activities:</p>

<ul style="font-family: 'Average Sans', sans-serif;">
  <li><a href="http://www.techo.org/paises/republicadominicana/">Techo</a></li>
  <li><a href="http://santodomingo.startupweekend.org/">Startup Weekend Santo Domingo</a></li>
  <li>Hackers and Founders</li>
  <li>Pyladies</li>
  <li><a href="http://python.do/">Python Dominicana User Group</a></li>
  <li>Javascript Dominicana User Group</li>
  <li>Meta Community Technology Groups</li>
  <li><a href="https://developers.google.com/groups/chapter/101585293573808603734/">Google Developer Group Santo Domingo</a></li>
  <li><a href="http://codecampsdq.com/">Codecamp SDQ</a></li>
<ul>
{% endblock content %}
