{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block link_home %}class="main-nav-current"{% endblock link_home %}
{% block main_button %}
<button  class="btn" id="learn-more" style="bottom: 150px;">Learn More</button>
{% endblock main_button %}
{% block action_button %}
<button id="contact-form" class="btn" href="careers" style="bottom: 150px;">Contact Us</button>
{% endblock action_button %}
{% block content %}
<div class="about-section text-size-5 about-intro">
  <h1 class="h-beta text-size-3">We solve problems</h1>
  <p>
  Stance Data provides enterprise data services with the higuer quality to companies looking to reduce cost and improve the quality of their work. Focused on the Insurance and Financial sector, creating solutions through people, technology and processes.
  </p>


</div>

  <h1 class="h-beta text-size-2">Services</h1>
  <br/>
  <br/>

<div id="learn-more-grid" class="content-grid">
  <div class="content-grid-item">
    <img src="{{ STATIC_URL }}img/graph10.jpg" width="75%"/></br>
    <span class="content-grid-number text-size-7">01</span>
    <h3 class="text-size-5 content-grid-headline">Transcription Services</h3>
    <p>
    Do you want to move your digitize information only available on paper?, Want to create a database from information only physically available.
    </p>
    <p>
    We do what OCR software is not capable of, the right quality.
    </p>
  </div>
  <div class="content-grid-item">
    <img src="{{ STATIC_URL }}img/graph5.jpg" width="75%"/></br>
    <span class="content-grid-number text-size-7">02</span>
    <h3 class="text-size-5 content-grid-headline">Content Moderation</h3>
    <p>
    Content drives traffic… and money. If the customer experience is the right one.
    </p>
    <p>
    We create the incredible interactions with the customers that create real engagement, recurrent visitors and repeated sales.
    </p>
  </div>
  <div class="content-grid-item">
    <img src="{{ STATIC_URL }}img/graph11.jpg" width="75%"/></br>
    <span class="content-grid-number text-size-7">03</span>
    <h3 class="text-size-5 content-grid-headline">Operations</h3>
    <p>
    Any operation of your office can be done by one of our professionals, we provide highly qualified individuals that add value to the task at hand.
    </p>
  </div>
  <div class="content-grid-item">
    <img src="{{ STATIC_URL }}img/graph4.jpg" width="75%"/></br>
    <span class="content-grid-number text-size-7">04</span>
    <h3 class="text-size-5 content-grid-headline">Research</h3>
    <p>
     The Data that you need about clients, similar products, competitors and new markets is out there waiting for you. We help you get this information and make sure you do receive it in the best way possible.
    </p>
  </div>
  <div class="content-grid-item">
    <img src="{{ STATIC_URL }}img/graph7.jpg" width="75%"/></br>
    <span class="content-grid-number text-size-7">05</span>
    <h3 class="text-size-5 content-grid-headline">Web Development</h3>
    <p>
    We already love to create well crafted applications and we have a small team of developers willing to give you the best solution for any problem you may have.
    </p>
  </div>
  <div class="content-grid-item">
    <img src="{{ STATIC_URL }}img/graph9.jpg" width="75%"/></br>
    <span class="content-grid-number text-size-7">06</span>
    <h3 class="text-size-5 content-grid-headline">Platform/Data Projects</h3>
    <p>
    If you have a platform and just need the competent employees within your budget to operate it, we’re the right match.
    </p>
  </div>
</div>
<br/>
<br/>
<br/>
<script>

$('#learn-more').click(function(){
 $('html, body').animate({
  scrollTop: $("#learn-more-grid").offset().top
}, 2000);
})
</script>

{% endblock content %}

