{% extends 'base.html' %}

{% block title %} Our Leadership {% endblock title %}
{% block link_leadership %} class="main-nav-current" {% endblock link_leadership %}
{% block main_picture %} style="background-image: url('{{ STATIC_URL }}/img/leadership.jpg')"  {% endblock main_picture %}
{% block main_text %}<span style="color: #0a609f;">Leadership</span>{% endblock main_text %}

{% block content %}
<div class="leadership-section text-size-5 text-narrow leadership-intro">
  <h1 class="h-beta text-size-3" style="font-family: 'Open Sans', sans-serif;">Leadership</h1>
  <p></p>
</div>

<div class="leadership-section panel-section">
  <ul class="leadership-panel active-selection">
    <li itemscope="" itemtype="http://schema.org/Person">
      <a href="#LeonardoJimenez" class="leader">
        <img alt="Leonardo Jimenez" class="headshot" itemprop="image" src="{{ STATIC_URL }}img/leadership/leonardojimenez.jpg">
        <h2><span itemprop="name"><span itemprop="givenName">Leonardo</span> <span itemprop="familyName">Jimenez</span></span></h2>
        <h3><span itemprop="jobTitle">CEO &amp; Founder</span></h3> </a>
        <div class="biography"> 
          <p>Example with text</p>
           <a href="http://www.linkedin.com/in/leonardoajimenez" target="_blank" class="icon-linkedin" itemprop="url">
            </a>
        </div>
    </li>
    <li itemscope="" itemtype="http://schema.org/Person">
    <a href="#RomanPerez" class="leader">
      <img alt="Roman Perez" class="headshot" itemprop="image" src="{{ STATIC_URL }}/img/leadership/RomanPerez.jpg">
      <h2><span itemprop="name">
            <span itemprop="givenName">Roman</span> <span itemprop="familyName">Perez</span></span>
      </h2> <h3><span itemprop="jobTitle">COO</span></h3>
    </a>
    <div class="biography"> <p></p>
      <a href="http://www.linkedin.com/pub/brian-bell/1/764/717" target="_blank" class="icon-linkedin" itemprop="url"></a> </div>
   </li>
   <li itemscope="" itemtype="http://schema.org/Person" class="">
   <a href="#LessyRosario" class="leader">
     <img alt="Lessy Rosario" class="headshot" itemprop="image" src="{{ STATIC_URL }}/img/leadership/lessyrosario.jpg">
     <h2><span itemprop="name">
         <span itemprop="givenName">Lessy</span> <span itemprop="familyName">Rosario</span></span>
      </h2> <h3><span itemprop="jobTitle">People Operations</span></h3>
      </a>
      <div class="biography"> <p></p>
        <a href="http://www.linkedin.com/" target="_blank" class="icon-linkedin" itemprop="url"></a> 
      </div>
    </li>
    <li itemscope="" itemtype="http://schema.org/Person" class="selected"> 
      <a href="#LizFortier" class="leader"> <img alt="Katihusca Rodriguez" class="headshot" itemprop="image" src="{{ STATIC_URL }}img/leadership/katihuscarodriguez.jpg"> <h2><span itemprop="name"><span itemprop="givenName">Katihusca</span> <span itemprop="familyName">Rodriguez</span></span>
    </h2> <h3><span itemprop="jobTitle">CFO</span></h3> </a> 
    <div class="biography"> <p></p>
      <a href="http://www.linkedin.com/" target="_blank" class="icon-linkedin" itemprop="url"></a> 
    </div>
  </li>
  <li class="bio-proxy" style=""> 
    <p></p>
    <a href="http://www.linkedin.com/" target="_blank" class="icon-linkedin" itemprop="url"></a>
  </li>
  <li itemscope="" itemtype="http://schema.org/Person">
   <a href="#JulissaSanchez" class="leader">
    <img alt="Katihusca Rodriguez" class="headshot" itemprop="image" src="{{ STATIC_URL }}/img/leadership/julissasanchez.jpg"> 
    <h2><span itemprop="name"><span itemprop="givenName">Julissa</span> <span itemprop="familyName">Sanchez</span></span></h2> 
    <h3><span itemprop="jobTitle">Office Manager</span></h3>
   </a>
   <div class="biography"> <p></p>
      <a href="http://www.linkedin.com/" target="_blank" class="icon-linkedin" itemprop="url"></a>
    </div>
  </li>
 </ul>
</div>

<div class="leadership-section text-size-5 text-narrow leadership-intro">
  <h1 class="h-beta text-size-3" style="font-family: 'Open Sans', sans-serif;">Board of Directors</h1>
  <p></p>
</div>

<div class="leadership-section panel-section">
  <ul class="leadership-panel active-selection">
    <li itemscope="" itemtype="http://schema.org/Person">
      <a href="#JuanJoseGomez" class="leader">
        <img alt="Juan Jose Gomez" class="headshot" itemprop="image" src="{{ STATIC_URL }}img/leadership/juanjosegomez.jpg">
        <h2><span itemprop="name"><span itemprop="givenName">Juan Jose</span> <span itemprop="familyName">Gomez</span></span></h2>
        <h3><span itemprop="jobTitle">Board Seat</span></h3> </a>
        <div class="biography"> 
          <p>Example with text</p>
           <a href="http://www.linkedin.com/in/juanjosegomez" target="_blank" class="icon-linkedin" itemprop="url">
            </a>
        </div>
    </li>
    <li itemscope="" itemtype="http://schema.org/Person">
      <a href="#JonMcneil" class="leader">
        <img alt="Jon Mcneil" class="headshot" itemprop="image" src="{{ STATIC_URL }}img/leadership/jonmcneil.jpg">
        <h2><span itemprop="name"><span itemprop="givenName">Jon</span> <span itemprop="familyName">Mcneil</span></span></h2>
        <h3><span itemprop="jobTitle">Board Seat</span></h3> </a>
        <div class="biography"> 
          <p>Example with text</p>
           <a href="http://www.linkedin.com/in/leonardoajimenez" target="_blank" class="icon-linkedin" itemprop="url">
            </a>
        </div>
    </li>

  </ul>
</div>

{% endblock content %}
