{% extends "base.html" %}
{% block title %} News {% endblock title %}
{% block link_careers %} class="main-nav-current" {% endblock link_careers %}
{% block main_picture %} style="background-image: url('{{ STATIC_URL }}/img/news.jpg')"  {% endblock main_picture %}
{% block main_text %} News {% endblock main_text %}

{% block content %}
<div class="content-wrapper">
  <h1 id="newsPageHeadline" class="h-beta text-size-2">Events</h1><br/></br/>
  {% if main_event %}
  <div class="featured-event">
    <h2>Featured Event:</h2>
    <div itemscope="" itemtype="http://schema.org/BusinessEvent">
      <div style="color: #888;" class="event-title text-size-3" itemprop="name">{{ main_event.title  }}</div>
    <div class="event-date">
      <span class="month">{{ main_event.from_date | date:"F" }}</span>
      <span class="days">{{ main_event.from_date | date:"d" }}</span>
      <span itemprop="startDate" content="{{ main_event.from_date | date:"o-m-d"}}"></span>
      <span itemprop="endDate" content="{{ main_event.to_date | date:"F" }}"></span>
    </div>
    <div class="event-location" itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">{{ main_event.city }}</span>
      <span itemprop="addressRegion">{{ main_event.country }}</span>
    </div>
    <div class="event-description" itemprop="description"> {{ main_event.description }}</div>
      {% if main_event.url %}
      <div class="event-button">
        <a itemprop="sameAs" href="{{ main_event.url }}" target="_blank" class="btn">Event Site</a>
      </div>
      {% endif %}
  </div>
  {% else %}
   <div class="featured-event">
    <h2>No future events planned on the short term</h2>
   </div>
  {% endif %}
</div>

{# Upcoming Events #}
{% if event_list %}
<h2 id="upcomingEventsHeader"><span>Upcoming Events</span></h2>
<div class="upcoming-events">
  <div class="header">
  <div class="event-date">Date</div>
  <div class="event-title">Event</div>
  <div class="event-location">Location</div>
</div>
  {% for event in event_list %}
  <a href="{{ event.url }}" target="_blank" class="event" itemscope="" itemtype="http://schema.org/BusinessEvent">
  <div class="event-date"> {{ event.from_date }}<span itemprop="startDate" content="{{ event.from_date | date:"o-m-d"}}"></span>  <span itemprop="endDate" content="{{ event.to_date | date:"o-m-d"}}"></span>  </div> <div class="event-title" itemprop="name">{{ event.title }}</div> <div class="event-location" itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress"> <span itemprop="addressLocality">{{ event.city }}</span>  <span itemprop="addressRegion">{{ event.country }}</span>   </div> <meta itemprop="sameAs" content="{{ event.url}}"> </a>
  {% endfor %}
{% endif %}
</div>
{% endblock content %}
