<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/Truerunk/html5.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="font-family: 'Oxygen', sans-serif; color: #00599c;">We are sorry for the inconvenience...</h1>
<div style="font-family: 'Offside', cursive; font-size: 20px;" >
We are working pretty hard, to create  better experience for all visiting our website clients and/or employees. <br/>
We expect to unveil the new stance data site soon<br/>
<b style="font-size: 22px; font-weight:bold;">Stance Labs Team</b>
</div>
<img src="https://lh6.googleusercontent.com/JdA6-tqHNePUjIn32HCQTfwUeqDEjjc-nNWxlympztU=w511-h207-p-no">
 
</body>
</html>

